.hidden {
  display: none;
}

.green {
  background-color: #4caf4fa8;
}
.yellow {
  background-color: #e5e765a1;
}
.blue {
  background-color: #60bfe48e;
}
.purple {
  background-color: #774caf8e;
}
.pink {
  background-color: #af4ca79c;
}
.brown {
  background-color: #af4c548c;
}
