.button {
  position: relative;
  &:active {
    transform: translate(0,2px);
  }
}
.create-button,
.login-button {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  background: #4caf50;
  -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
  &:hover {
    background: #43a047;
  }
}
.starting-page__login {
  padding: 7px 20px;
  font-weight: bold;
  color: white;
  background: #4caf50;

  &:hover {
    background: #43a047;
  }
}
.game-lvl__button {
  padding: 10px 20px;
  color: #ffffff;
  &:nth-child(1) {
    background-color: #4caf50;
    &:hover {
      background-color: #43a047;
    }
  }
  &:nth-child(2) {
    background-color: #e5e765;
    &:hover {
      background-color: #d3d159;
    }
  }
  &:nth-child(3) {
    background-color: #60bee4;
    &:hover {
      background-color: #59afd1;
    }
  }
  &:nth-child(4) {
    background-color: #774caf;
    &:hover {
      background-color: #6a449c;
    }
  }
  &:nth-child(5) {
    background-color: #af4ca7;
    &:hover {
      background-color: #96418f;
    }
  }
  &:nth-child(6) {
    background-color: #af4c54;
    &:hover {
      background-color: #923e45;
    }
  }
}

.game__button-back {
  padding: 10px;
  color: #ffffff;
  background-color: #dd616c;
  &:hover {
    background-color: #f76e79;
  }
}

.bookpage-sprint__button,
.bookpage-audiochallenge__button {
  position: relative;
  height: 45px;
  padding-right: 10px;
  padding-left: 50px;
  font-size: 20px;
  & span {
    position: absolute;
    top: 5px;
    left: 10px;
    display: block;
    width: 35px;
    height: 35px;
  }
}
.bookpage-sprint__button span {
  background: url("./../images/sprint-icon.svg");
  background-size: 100% 100%;
}
.bookpage-audiochallenge__button span {
  background: url("./../images/audiochallenge-icon.svg");
  background-size: 100% 100%;
}

.button-difficulty {
  width: 45px;
  height: 45px;
  font-size: 20px;
  text-transform: uppercase;
}
.sprint__close-game {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  background: url("./../images/popup__close.svg") no-repeat;
  background-size: contain;
  &:hover {
    background: url("./../images/close.svg") no-repeat;
  }
}
.false-answer,
.true-answer {
  width: 140px;
  padding: 13px 0;
  font-size: 20px;
}

.false-answer {
  background-color: #af4c54;
  &:hover {
    background-color: #923e45;
  }
}

.true-answer {
  background-color: #43a047;
  &:hover {
    background-color: #4caf50;
  }
}
.settings-buttons__fullscreen,
.settings-buttons__volume {
  width: 40px;
  height: 40px;
  &:hover {
    width: 45px;
    height: 45px;
  }
}
.settings-buttons__fullscreen {
  background: url("./../images/enter-fullscreen.svg") no-repeat;
  background-size: contain;
}
.active-fullscreen {
  background: url("./../images/exit-fullscreen.svg") no-repeat;
  background-size: contain;
}
.settings-buttons__volume {
  background: url("./../images/volume.svg") no-repeat;
  background-size: contain;
}
.active-volume {
  background: url("./../images/mute.svg")no-repeat;
  background-size: contain;
}
.word__audio {
  display: block;
  width: 25px;
  height: 25px;
  background: url("./../images/volume.svg");
  background-size: 100% 100%;
}




.result-word__play {
  width: 20px;
  height: 20px;
  background: url("./../images/volume.svg") no-repeat;
  background-size: contain;
  &:hover {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  }
}
.button__game-over,
.button__try-again {
  width: 150px;
  padding: 13px 0;
  font-size: 20px;
}
