.create-button,
.login-button {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  background: #4caf50;
  -webkit-transition: all 0.3 ease;
          transition: all 0.3 ease;
  &:hover {
    background: #43a047;
  }
}
.starting-page__login {
  padding: 7px 20px;
  font-weight: bold;
  color: white;
  background: #4caf50;

  &:hover {
    background: #43a047;
  }
}
.game-lvl__button {
  padding: 10px 20px;
  color: #ffffff;
  &:nth-child(1) {
    background-color: #4caf50;
    &:hover {
      background-color: #43a047;
    }
  }
  &:nth-child(2) {
    background-color: #e5e765;
    &:hover {
      background-color: #d3d159;
    }
  }
  &:nth-child(3) {
    background-color: #60bee4;
    &:hover {
      background-color: #59afd1;
    }
  }
  &:nth-child(4) {
    background-color: #774caf;
    &:hover {
      background-color: #6a449c;
    }
  }
  &:nth-child(5) {
    background-color: #af4ca7;
    &:hover {
      background-color: #96418f;
    }
  }
  &:nth-child(6) {
    background-color: #af4c54;
    &:hover {
      background-color: #923e45;
    }
  }
}

.game__button-back {
  padding: 10px;
  color: #ffffff;
  background-color: #dd616c;
  &:hover {
    background-color: #f76e79;
  }
}

.bookpage-sprint__button,
.bookpage-audiochallenge__button {
  position: relative;
  height: 45px;
  padding-right: 10px;
  padding-left: 50px;
  font-size: 20px;
  & span {
    position: absolute;
    top: 5px;
    left: 10px;
    display: block;
    width: 35px;
    height: 35px;
  }
}
.bookpage-sprint__button span {
  background: url("./../images/sprint-icon.svg");
  background-size: 100% 100%;
}
.bookpage-audiochallenge__button span {
  background: url("./../images/audiochallenge-icon.svg");
  background-size: 100% 100%;
}

