.audio-call__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  row-gap: 50px;
}
.audio-call__question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;

  row-gap: 15px;
}
.audio-call__question {
  width: 150px;
  height: 150px;
  padding: 70px;
  background: url("./../images/volume.svg") no-repeat;
  background-color: rgb(219, 127, 255);
  background-position: center;
  background-size: 100px 100px;
  border: 1px solid grey;
  border-radius: 50%;
  &:hover {
    background-color: rgb(171, 101, 199);
  }
}
.audio-call__answers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  column-gap: 20px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
.audio-call__answer {
  width: 180px;
  height: 50px;
  &:hover {
    background-color: rgb(170, 255, 255);
  }
}
.audio-call__question-img {
  width: 200px;
  height: 133px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
.audio-call__question-text {
  font-weight: 500;
  font-size: 40px;
}
.audio-call__question-translate {
  font-size: 30px;
}
