@media (max-width:1500px) {
  .bookpage-wrapper {
    padding: 0 10px;
  }
  .cards-wrapper {
    justify-content: center;
  }
  .card-word {
    width: 70%;
  }
}

@media (max-width:1300px) {
  .card-word {
    width: 80%;
  }
}

@media (max-width:1024px) {
  .card-word {
    width: 100%;
  }
  .bookpage-wrapper {
    padding: 0 20px;
  }
  .nav-book__difficulties {
    flex-wrap: wrap;
  }
}

@media (max-width:768px) {
  .bookpage-wrapper {
    padding: 0;
  }
}
