.stats-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.stats-title {
  margin: 30px 0;
  font-weight: normal;
  font-size: 35px;
  text-align: center;
}
.stats-global,
.stats-sprint,
.stats-audiochallenge {
  display: flex;
  justify-content: start;
  column-gap: 20px;
}
.stats-global h3,
.stats-sprint h3,
.stats-audiochallenge h3 {
  font-size: 70px;
}
.stats-games__wrapper {
  display: flex;
  flex-direction: column;
}
.stats-global p,
.stats-sprint p,
.stats-audiochallenge p {
  font-size: 20px;
}
.stats-global__learned,
.stats-global__new,
.stats-global__accuracy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}

.stats-sprint,
.stats-audiochallenge {
  margin-top: 20px;
}

.stats-sprint__streak,
.stats-sprint__new,
.stats-sprint__accuracy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}
.stats-audiochallenge__streak,
.stats-audiochallenge__new,
.stats-audiochallenge__accuracy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 210px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}
.stats-content__wrapper h2 {
  margin-top: 30px;
  font-weight: normal;
}
