.footer {
  margin-top: 30px;
  background-color: black;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  .footer__links {
    display: flex;
    column-gap: 100px;
    & .github-logo {
      width: 40px;
      height: 40px;
      padding-top: 10px;
      padding-left: 60px;
      font-size: 20px;
      color: white;
      background: url("./../images/github.svg") ;
      background-position: center;
      background-size: 100% 100%;
    }
  }
  & p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    font-family: Steppe;
    color: white;
  }

  & .rss-logo {
    width: 120px;
    height: 40px;
    background: url("./../images//rs_school.svg");
    background-position: center;
    background-size: 100% 100%;
    filter: invert(100%) sepia(82%) saturate(2%) hue-rotate(89deg) brightness(110%) contrast(100%);
  }
}
