.nav-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  column-gap: 50px;
}
.games-buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
