

.team-title {
  margin: 20px 0;
  text-align: center;
}
.pavel-github,
.denis-github {
  display: block;
  width: 25px;
  height: 25px;
  background: url("./../images/github.png");
  background-size: 100% 100%;
}
.app-info__container {
  margin-bottom: 100px;
}
.app-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 100px;
  background: url("./../images/bg.jpg") no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);

  row-gap: 50px;
  h1 {
    padding: 20px;
    font-size: 70px;
    color: white;
    border: 4px solid white;
  }
  p {
    font-size: 40px;
    color: rgb(56, 56, 54);
  }
}
.team-wrapper,
.app-info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 30px;
}
.team-pavel,
.team-denis,
.app-info__chapter {
  display: flex;
  width: 50%;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
}
.denis-photo img,
.pavel-photo img {
  width: 220px;
  height: 290px;
}
.pavel-position,
.denis-position {
  font-size: 14px;
  color: rgb(141, 141, 141);
}
.pavel-photo,
.denis-photo {
  height: 290px;
}
.pavel-content,
.denis-content {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  line-height: 1.5;

  row-gap: 10px;
}

.denis-link,
.pavel-link {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.denis-title,
.pavel-title {
  font-weight: 500;
  font-size: 24px;
}
.pavel-responsibilities {
  .denis-responsibilities {
    font-size: 18px;
  }
}
